body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

}

.image-wrapper {
    padding: 15px;
    background: linear-gradient(45deg, #4a90e2, #9013fe);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: transform 0.3s ease;
}

.styled-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-wrapper:hover {
    transform: translateX(10px) translateY(-10px);
}

.styled-image:hover {
    transform: rotate(-5deg);
}


.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #6a11cb, #e19c09);
    color: #fff;
    border-radius: 15px 15px 0 0;
}

.header-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.5rem;
    font-weight: 300;
}

.title {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom:-5px;
}

.about p {
    font-size: 1.1rem;
    color: #555;
}

tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#it {
    color: blue;
}

.red {
    color: red;
}


span {
    color: #3695c8;
}
.button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 7px;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: red;
}

a:hover {
    color: orange;
}

.custom-link {
    font-size: 18px;
    text-decoration: none;
    color: #1e90ff;
    margin: 10px 0;
    transition: color 0.3s ease;
}

.link3:hover {
    color: #ffa500;
}
